@include media-tablet {
   .logo {
      margin-top: 8px;
      margin-left: 21px;
   }

   .logo__image {
      width: 44px;
      height: 17px;
   }
}

@include media-mobile {
   .logo {
      margin-left: 16px;
   }
}
