$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$button: #fe7865;
$button-hover: #f17d4B;
$text: #2c2e3f;
$text-dark: #141517;

//Template containers
$mobile-width-container: 320px;
$tablet-width-container: 768px;
$desktop-width-container: 1170px;

//Template breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
